<p class="mt-2 mb-2 text-center">Examples contained within Bootstrap Grid</p>
<div class="container">
  <div class="row">
    <div class="col" style="border: 1px solid black">
      <p class="mt-2 mb-2 text-center">Material Buttons</p>
      <div class="text-center">
        <button mat-raised-button color="primary" class="m-2">Primary</button>
        <button mat-raised-button color="accent" class="m-2">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button class="custom-button m-2">Custom</button>
        <div class="d-flex align-items-center">
          <button mat-fab color="primary" class="m-2">P</button>
          <button mat-fab color="accent" class="m-2">A</button>
          <button mat-mini-fab disabled class="m-2">D</button>
          <mat-slide-toggle checked></mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="col d-flex flex-column" style="border: 1px solid black">
      <p class="mt-2 mb-2 text-center">Material Form Fields</p>
      <mat-form-field appearance="outline">
        <mat-label>Standard Input</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="custom-form" appearance="outline">
        <mat-label>Custom Input</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border: 1px solid black">
      <p class="mt-2 mb-2 text-center">Bootstrap Text with Bootstrap Flex</p>
      <div class="d-flex justify-content-around">
        <div>
          <h1>H1 text example</h1>
          <h2>H2 text example</h2>
          <h3>H3 text example</h3>
          <h4>H4 text example</h4>
          <h5>H5 text example</h5>
        </div>
        <div>
          <p class="fw-bold">BOLD text example</p>
          <p class="fst-italic">ITALIC text example</p>
          <p class="fw-light">LIGHT text example</p>
          <p class="text-muted">MUTED text example</p>
        </div>
      </div>
    </div>
    <div class="col" style="border: 1px solid black">
      <p class="mt-2 mb-2 text-center">Bootstrap Alerts</p>
      <div class="alert alert-info">Info Alert</div>
      <div class="alert alert-danger">Danger Alert</div>
    </div>
  </div>
</div>
