/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";

// BOOTSTRAP CUSTOMIZATIONS - overriding bootstrap with my stuff
@import "custom-bootstrap-variables";

// BOOTSTRAP MODULES - bootstrap modules being used in this app
@import "bootstrap-modules";

// MATERIAL CUSTOMIZATION - customize angular material themeing
@import "custom-material-theme";

// CUSTOM THEME FILES - customize individual components
@import "./components/components-base";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
